{% extends 'base.html.twig' %}

{% block customstylesheets %}
{{parent()}}
{% if app.user %}
<link rel="stylesheet" href="{{asset('assets/css/likes.css')}}">
{% endif %}
{% endblock %}

{% block main %}
<main role="main">

    <section class="jumbotron text-center">
        <div class="container">

            <h1 class="jumbotron-heading">Category - {{subCats.currentCategoryName}}</h1>
            <div class="btn-group">
                <div class="dropdown ml-2">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Subcategories
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <ul class="mr-5">
                            <li><a href="{{path('videoList',{'catName':subCats.mainParentName|slugify|lower, 'id':subCats.mainParentId})}}">{{subCats.mainParentName}}</a></li>
                            {{subCats.catList|raw}}
                        </ul>
                    </div>
                </div>

                <div class="form-row align-items-center ml-3">
                    {{include('includes/_sort.html.twig')}}
                </div>
            </div>
        </div>
    </section>
   
    {{include('includes/_videos.html.twig', {'videos':videos})}}
    <!-- pagination -->
    {{knp_pagination_render(videos)}}
</main>
{% endblock %}
{% block customjs %}
{{parent()}}
{% if app.user %}
<script src="{{asset('assets/js/likes.js')}}"></script>
{% endif %}
{% endblock %}